---
layout: page-main
title-menu: Główna

---
<p class="invitation"><strong>EKOLOGIA</strong>, dla MATKI ZIEMI,<br>
<strong>DBAŁOŚĆ O PRZYSZŁE POKOLENIA</strong>, dla naszych DZIECI<br>
<strong>WSPIERANIE LOKALNEJ SPOŁECZNOŚCI</strong>, tu i teraz.</p>
<h2 class="arrow-both">Przestrzeń działania</h2>

<div class="main-tile-wrapper">
  {% include main-tile.html img-basename="001" img-alt="Żywa Przestrzeń" description="<p>Tworzenie żywej przestrzeni. Współpraca z&nbsp;przyrodą. Permakultura. Słów kilka o&nbsp;pozytywnej roli człowieka w&nbsp;przyrodzie. O&nbsp;tym co możemy zrobić sami, już teraz. Dla siebie i&nbsp;planety.</p>" %}
  {% include main-tile.html img-basename="002" img-alt="Żywa Przestrzeń Zdrowia" description="Żywa Przestrzeń Zdrowia to inicjatywa Fundacji dedykowana osobom, które zmagają się z&nbsp;danym problemem zdrowotnym, chorobą , czy też niepełnosprawnością i&nbsp;dążą wszelkimi możliwymi, naturalnymi sposobami do odzyskania pełni zdrowia. CEL - PEŁNIA ZDROWIA." %}
  {% include main-tile.html img-basename="003" img-alt="Żywa Przestrzeń Kształtowania szczęśliwego człowieka" description="<p>Inicjatywa Fundacji dotycząca psychologii samororozwoju oraz wychowania. To strefa świadomego człowieka, który, jako rodzic, opiekun, nauczyciel, ma misję ukształtowania szczęśliwego człowieka - swojego dziecka.</p>" %}
  {% include main-tile.html img-basename="004" img-alt="Żywa Przestrzeń Edukacji domowej" description="<p>Jednym z&nbsp;celów statutowych Fundacji jest wspieranie edukacji domowej. Realizujemy to poprzez wsparcie merytoryczne i&nbsp;metodyczne rodzin, współpracę ze szkołami w&nbsp;celu wypracowania standardu szkół przyjaznych Edukacji Domowej</p>" %}
</div>


<h2 class="arrow-both">Realizowane projekty</h2>

<div class="main-tile-wrapper">

  {% include main-tile.html img-basename="proj-02-dom" img-alt="Wielki człowiek w małym domu" description='<ul>Projekt dotyczący tworzenia domu, który:
    <li>Nie wpływa negatywnie na środowisko naturalne</li>
    <li>Odpowiada naszym potrzebom, a&nbsp;dzięki niskim kosztom budowy i&nbsp;eksploatacji zapewnia nam to, co w&nbsp;życiu najważniejsze – CZAS</li>
  </ul>
  <a href="https://wielkiczlowiekwmalymdomu.pl/" class="arrow">Zobacz więcej…</a>' %}
  
</div>

<h2 class="arrow-both">Oferta</h2>
<iframe class="main-page" loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/flJa0p4179k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<h2 class="arrow-both">Współpracuj z nami</h2>

<div class="main-tile-wrapper">

  {% include main-tile.html img-basename="005" img-alt="Żywa przestrzeń bank dobrych pomysłów" description='<p>Żywa Przestrzeń wolności, barteru, życzliwej współpracy. Bawiąc się słowem i&nbsp;rozwiązaniami systemowymi zapraszamy do Założenia konta w&nbsp;Banku Dobrych Pomysłów.</p>
  <p><strong>WALUTA:</strong> życzliwość, wymienialna na 100 uśmiechów</p>
  <p><strong>ZAŁOŻENIE KONTA:</strong> za jeden uśmiech</p>
  <p><strong>OPROCENTOWANIE:</strong> przekazać uśmiech dalej</p>' %}

</div>
