<aside class="menu categories">
  <h2>Kategorie</h2>
  <ul>
    <li class="menu-item rodzina">
      <a href="/rodzina/"></a>
      <svg viewBox='0 0 2000 2000' class="menu-item-icon"><use href='#logo1'/></svg>
      <strong>Rodzina</strong>, ludzi dlaszy opis
    </li>
    <li class="menu-item ekologia">
      <a href="/ekologia/"></a>
        <svg viewBox='0 0 2000 2000' class="menu-item-icon"><use href='#logo3'/></svg>
        <strong>Ekologia</strong>, przyroda, ogródek, ogórki kiszone
    </li>
    <li class="menu-item idee">
      <svg viewBox='0 0 2000 2000' class="menu-item-icon"><use href='#logo2'/></svg>
      <strong>Idee</strong>, warsztaty, projekty
      <a href="/idee/"></a>
    </li>
  </ul>
</aside>
