<div id='logowrap'>
  <svg class='logoback' viewBox='0 0 1477 1034' preserveAspectRatio='xMidYMin slice' style='width: 100%; padding-bottom: 70%; height: 1px; overflow: visible'>
    <use href='#logoback'/>
  </svg>
  <div class='logo1'>
    <svg viewBox='0 0 2000 2000'><use href='#logo1'/></svg>
    <svg class='logo0' viewBox='0 0 4 4'><use href='#logo0'/></svg>
  </div>
  <div class='logo2'>
    <svg viewBox='0 0 2000 2000'><use href='#logo2'/></svg>
    <svg class='logo0' viewBox='0 0 4 4'><use href='#logo0'/></svg>
  </div>
  <div class='logo3'>
    <svg viewBox='0 0 751 752'><use href='#logo3'/></svg>
    <svg class='logo0' viewBox='0 0 4 4'><use href='#logo0'/></svg>
  </div>
</div>
