@font-face {
    font-family: 'now';
    src: url('./fonts/now-regular-pl.woff2') format('woff2'),
         url('./fonts/now-regular-pl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'now';
    src: url('./fonts/now-bold-pl.woff2') format('woff2'),
         url('./fonts/now-bold-pl.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
