@mixin display-flex($direction, $align-items){
  -moz-display:flex;
  -webkit-display:flex;
  -ms-display:flex;
  display:flex;

  -moz-flex-direction:$direction;
  -webkit-flex-direction:$direction;
  -ms-flex-direction:$direction;
  flex-direction:$direction;

  -moz-align-items:$align-items;
  -webkit-align-items:$align-items;
  -ms-align-items:$align-items;
  align-items:$align-items;
}
@mixin width-transition($duration){
  -webkit-transition-duration: $duration;
  transition-duration: $duration;
  -webkit-transition-property:width,max-width;
  transition-property:width,max-width;
}
$logo-font-size: 16px;
$logo-transiton-duration: 0.8s;

#logo-a{
  @include display-flex(column, center);
  width: 100%;
  max-width:740px;
  @include width-transition($logo-transiton-duration);

  text-align:center;

  margin-bottom: 30px;
}
@keyframes fadeIn {0% {opacity:0;} 80% {opacity:0;} 100% {opacity: 1;}}

#logo-a.shrink{
  padding-right:10px;
  width:110px;

  margin-bottom: 0;

  #logowrap{width:100px;
    div.logoname{opacity:0;transition: opacity 1s;}
  }
  .logo0{opacity:1;transition: opacity 1s;}
}

.site-nav{margin-bottom: 30px;}


$max-logo-height: 80vh;
$logo-aspect-ratio: 1.42843; // viewBox 1477x1034
$max-logo-width: $max-logo-height*$logo-aspect-ratio;
#logowrap {
  @include width-transition($logo-transiton-duration);
  position:relative;
  // margin:0 auto;
  width:100%;
  // height:100%;
  max-width:$max-logo-width; // in fact it adjusts height preserving aspect ratio
  svg{display:block;}
  svg.logoback{-webkit-animation: fadeIn 2.3s;animation: fadeIn 2.3s;}
  &>div{position:absolute;top:35%;left:45%; // div.logo1,2,3
    svg{width:100%; height:100%;}
    svg.logo0{position:absolute;top:0;left:0;}
  }
  &>div.logoname{top:auto; left:auto;
    right:6%; bottom:-1%;
    width:35%;height:53%;
    -webkit-animation: fadeIn 2.4s ease-in;animation: fadeIn 2.4s ease-in;
  }
}

.logo0{opacity:0;}

@mixin logo-elt-anim($name, $width, $height, $rotate-end, $translate-end){
  $rotate-from:800deg;
  $animation-duration:1.8s;

  .#{$name}{
    width:$width;
    height:$height;
    -moz-animation: #{$name} $animation-duration;
    -webkit-animation: #{$name} $animation-duration;
    animation: #{$name} $animation-duration;
    -o-transform: rotate($rotate-end)translate($translate-end)rotate(-$rotate-end);
    -moz-transform: rotate($rotate-end)translate($translate-end)rotate(-$rotate-end);
    -ms-transform: rotate($rotate-end)translate($translate-end)rotate(-$rotate-end);
    transform: rotate($rotate-end)translate($translate-end)rotate(-$rotate-end);
  }
  @keyframes #{$name} {
  	from {transform: rotate($rotate-from) translate(0) rotate(-$rotate-from) scale(0.1);}
  	to {transform: rotate($rotate-end)translate($translate-end)rotate(-$rotate-end)scale(1);}
  }
}

@include logo-elt-anim(logo1, 17.5%, 25.00%, 312deg, -194%);
@include logo-elt-anim(logo2, 18.5%, 26.43%, 140.5deg, -161%);
@include logo-elt-anim(logo3, 12.5%, 17.86%, 8.5deg, -158%);

footer .u-email{letter-spacing:-1px;}

@media screen and (max-height: 500px) {
  body.page-facebook footer.site-footer{display:none;}
}

@media screen and (max-height: 600px) {
  $mini-logo-width:80px;
  body.page-facebook{
    #logo-a.shrink{max-width:$mini-logo-width;}
    #logo-a.shrink .text, .footer-col-3{display:none;}
  }
  #logo-a.shrink #logowrap{width:$mini-logo-width !important;}
}

@media screen and (max-height: 740px) {
  body.page-facebook{
    footer.site-footer{padding: 5px 0 0 0;}
    .footer-col-wrapper{font-size:14px;}
    .footer-col-1, .footer-col-3{padding-left:5px;margin-bottom:5px;}
    ul.contact-list{margin-bottom:5px;}
    .post-content{margin-bottom:0;}
    .page-content{padding-bottom:0;}
  }
  .page-content{padding:5px 0;
    .post-header{margin-bottom: 10px;}
    h1{font-size:24px;}
  }
}
@media screen and (max-width: 320px) {
  body.page-facebook .page-content .wrapper{padding-right:7px;padding-left:7px;}
}
