$logo-font-size: 16px;
#logo-a{
  line-height: 1.4em;
  font-size: $logo-font-size * 2;
  width: 100%;
  text-align:center;
  &:hover{text-decoration:none;}
  .text{animation: fadeIn 2.4s ease-in;}
}

#logo-a.shrink{
  font-size: $logo-font-size;
  padding-right:10px;
  width:auto;
  #logowrap{width:100px;}
  .logo0{opacity:1;transition: opacity 1s;}
  .text{animation: fadeIn .6s ease-out;}
}

@-webkit-keyframes fadeIn {
	from {opacity:0;}
	to {opacity:1}
}

#logowrap{text-align:center;margin:0 auto;}
#logoback {position:relative;max-height:80vh;display:inline-block;vertical-align:top;}
#logoback>svg{-webkit-animation: fadeIn 2.3s;-webkit-animation-iteration-count: 1;}
@keyframes fadeIn {0% {opacity:0;} 80% {opacity:0;} 100% {opacity: 1;}}

#logoback [id^="logo"]{position:absolute; left:45%; top:35%;}
#logo-a svg{width:100%;height:100%;display:block;max-height:80vh;}
#logoback [id^="logo"] svg{position:absolute;}

.logo0{opacity:0;}

#logo3{
  width:12.5%;
  height:17.86%;
  -webkit-animation: logo3 1.8s;-webkit-animation-iteration-count: 1;
  transform: rotate(8.5deg)translate(-158%)rotate(-8.5deg);
}
@-webkit-keyframes logo3 {
	from {transform: rotate(800deg) translate(-0px) rotate(-800deg) scale(0.1);}
	to {transform: rotate(8.5deg)translate(-158%)rotate(-8.5deg)scale(1);}
}

#logo2{
  width:18.5%;
  height:26.43%;
  -webkit-animation: logo2 1.8s;-webkit-animation-iteration-count: 1;
  transform: rotate(140.5deg)translate(-161%)rotate(-140.5deg);
}
@-webkit-keyframes logo2 {
	from {transform: rotate(800deg) translate(-0px) rotate(-800deg) scale(0.1);}
	to {transform: rotate(140.5deg)translate(-161%)rotate(-140.5deg)scale(1);}
}

#logo1{
  width:17.5%;
  height:25.00%;
  -webkit-animation: logo1 1.8s;-webkit-animation-iteration-count: 1;
  transform: rotate(312deg)translate(-194%)rotate(-312deg);
}
@-webkit-keyframes logo1 {
	from {transform: rotate(800deg) translate(-0px) rotate(-800deg) scale(0.1);}
	to {transform: rotate(312deg)translate(-194%)rotate(-312deg)scale(1);}
}

footer .u-email{letter-spacing:-1px;}

@media screen and (max-height: 400px) {
  #logo-a .text{font-size: $logo-font-size;} // for not shrinked logo only
}

@media screen and (max-height: 500px) {
  body.facebook footer.site-footer{display:none;}
}

@media screen and (max-height: 600px) {
  body.facebook #logo-a.shrink .text{display:none;}
  #logo-a.shrink #logowrap{width:80px !important;}
}

@media screen and (max-height: 740px) {
  body.facebook{
    .footer-heading, .footer-col-3{display:none;}
    footer.site-footer{padding: 5px 0 0 0;}
    .footer-col-wrapper{font-size:14px;}
    .footer-col-1{padding-left:5px;margin-bottom:5px;}
    ul.contact-list{margin-bottom:5px;}
    .post-content{margin-bottom:0;}
    .page-content{padding-bottom:0;}
  }
  .page-content{padding:5px 0;
    .post-header{margin-bottom: 10px;}
    h1{font-size:24px;}
  }
}
@media screen and (max-width: 320px) {
  body.facebook .page-content .wrapper{padding-right:7px;padding-left:7px;}
}
@media screen and (max-width: 800px) {
  body.facebook .footer-col-3{display:none;}
}
