h1,h2,h3,h4,h5,h6,header,footer{
  font-family: $brand-font-family;
}

.statut{
  h2,h3{font-size: 20px;text-align:center;}
  li{margin-bottom:10px;}
}

header.site-header{position:-webkit-sticky;position:sticky;top:0;background-color:rgba(255,255,255,.9);
  z-index:10;
  border-top: 0;border-bottom: 2px solid #777;
  border-color: #666;
  // border-image: linear-gradient(to right, $red 33%, $green 33%, $green 67%, $blue 67%) 5;
  box-shadow:0 0 10px 1px #888;
}

footer.site-footer{border-top: 2px solid;border-bottom: 2px solid;
  border-color: #777;
  // border-image: linear-gradient(to right, $red 33%, $green 33%, $green 67%, $blue 67%) 5;
  background:rgba(253,253,253,0.9);
  box-shadow:0 0 10px 1px #888;
}
.page-facebook footer.site-foter{border-bottom:none;}

a{color: $blue;}
a:visited{color:$green;}


.page-flex>ul{list-style:none;margin:0;
  li{display:flex;flex-wrap:wrap;align-items:center;padding:30px 0;}
  li:nth-child(3n+1){
    img{color:$blue;}
    h3{border-color:$blue;a{text-decoration-color:$blue;}}
  }
  li:nth-child(3n+2){
    img{color:$green;}
    h3{border-color:$green;text-decoration-color:$green;}
  }
  li:nth-child(3n){
    img{color:$red;}
    h3{border-color:$red;a{text-decoration-color:$red;}}
  }
  a{flex:0 0 260px;
    img{
      margin:30px;
      width:200px;height:200px;object-fit:cover;
      box-shadow: 0 0 0 30px;border-radius:50%;
      transition:all .5s;
      &:hover{border-radius:10%;box-shadow: 0 0 0 10px}
    }
  }
  h3{
    flex: 1 20 200px;
    border-bottom: 3px solid;
    position:relative;left:-30px;padding-left:40px;
    a{color:$text-color;}
  }
}

.page-contact{
  font-family: $brand-font-family;
  ul{list-style:none;margin-left:0;}
  table,td{border:0;}
  table tr:nth-child(even) {background: none;}
  td{padding:10px 3px;}
}

.site-nav a{
  text-decoration: none;
  &.active, &:hover{border-bottom: 1px solid currentColor;}
}

::selection{color:#fff;background:$green;}

$light-grey: #666;
$dark-grey: #333;
.post-head-img{display:block;box-sizing:border-box;margin:20px auto;margin-bottom:20px;border:10px solid $dark-grey;
  max-height:80vh;}

.img-circle{border-radius:50%;object-fit:cover;}

.post-item{
  clear:left;
  position: relative;
  margin-bottom:5rem;
  .thumb-img{
    $post-img-size: 100px;
    float:left;
    width:$post-img-size;height:$post-img-size;border-width:8px;
  }
  a{position:absolute;left:0;right:0;top:0;bottom:-1em;
    span{position:absolute;right:0;bottom:-1em;}
  }
  time{color:$light-grey;font: 14px $brand-font-family;}
}

.thumb-img{
  $img-size: 50px;
  margin:10px 10px 0 0; width:$img-size;height:$img-size;object-fit:cover;border-style:solid;border-width:4px;
  transition: all .25s ease;
  &.rodzina{border-color: $red;}
  &.przyroda{border-color: $green;}
  &.idee{border-color: $blue;}

  &.rodzina.przyroda, &.rodzina.idee, &.przyroda.idee{
    border: double 8px transparent;
    // border-radius: 30px;
    // background-image: linear-gradient(white, white),linear-gradient(to right, green, gold);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  $angle: 60deg;
  &.rodzina.przyroda{background-image: linear-gradient(white, white),linear-gradient($angle, $red 50%, $green 50%);}
  &.rodzina.idee{background-image: linear-gradient(white, white),linear-gradient($angle, $red 50%, $blue 50%);}
  &.przyroda.idee{background-image: linear-gradient(white, white),linear-gradient($angle, $green 50%, $blue 50%);}
  &.rodzina.przyroda.idee{background-image: linear-gradient(white, white),linear-gradient($angle, $red 25%, $green 25%, $green 75%, $blue 75%);}

  &.archive{border-color: $light-grey;}
}
.archive-item-link:hover{
  text-decoration:none;
}
.post-item-link:hover{
  text-decoration:underline;
  color:$red;
}
.item{
  $img-size-enlarged: 150px;
  &:hover{
    & .thumb-img{width:$img-size-enlarged;height:$img-size-enlarged;border-width: 12px;
      &.archive{border-color:$dark-grey;}
    }
  }
}
.archive-month-list, .posts-list{list-style:none;}



body.page-main main .wrapper{
  margin-top:30px;
  margin-bottom:30px;
  font-family: "now";
  max-width:none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;

  h2{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
  }

  &>p{
    max-width: calc(800px - (30px * 2));
    margin:auto;
    text-align: left;
    padding-left:30px;
    padding-right:30px;
    padding-bottom: 30px;

    &:first-of-type{text-align: center;padding-top: 60px; padding-bottom: 60px;}
  }
}

.main-tile-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.main-tile{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  margin-bottom: 40px;

  .img{
    width:94vw;
  }
  .description{
    display:flex;
    align-items:center;

    .description-wrapper{margin:auto;}
    p{margin:0}
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;

    a{position: relative;
      padding-left:70px;}
    a:before{
      position:absolute;
      left:0;top:50%;
      // content: url('./img/arrow-right.png');
      content: url('data:image/webp;base64,UklGRooBAABXRUJQVlA4TH4BAAAvegAJEAlFbdtAvZ7jD3mhENH/CfA/CdiId6AtWwhkk/uLtwxGYeD7PwHYGSjsEjiKJEmSQmhp///WYfXuuSd13yGJLYKkMdq2jVmHpv7/aZmitm0gEyh/oDufTCPbdvIDWSEZ1GsDh6aK3wT+l/IksYSk/lBFKOEpcpgAwSlye8lPMomfskUqFIWfAgpD6MLE2F2XQFZdYhkB37L40l0Wi5myOnzL4qTw7l/PxOqqOMGuqvuyunhISNy3mfbOkNgBA/EugAcyr0UA35TuEN7YxjHtsQHvTs9jaMA3nAtUTBwb4p0eaCc4THCwbSxIbAf5cutW+Sk88VKixWiDMAzQR2IWKthjAyE3GZMruScQCHmScG87Hs5WEQg4EC0fMiSQg+wCueNPCPa9RLQRUGIICSFADq7GXLbFh7s7SQSKcUYQEDaOWvZrLSJCYG3HqYeeaRGD0BRsU3YHYFxRAjDCUHBT9wDYJZm6feCSTN3epSiB1BUDTVFULjLR/d8H');
      transform: translate(-30px, -50%) scale(.5);
      transition: transform .1s;
    }
    a:hover:before{transform: translate(-20px, -50%) scale(.5);}

  }
}

@media (min-width: 576px) {
  .main-tile{
    flex-direction: row;
    width:100%;
    max-width: 1350px;

    .img{
      width:48%;
    }
    .description{
      width: calc(49% - 30px);
      padding-left: 0;
      padding-right: 30px;
    }

    &:nth-child(even){
      .img {order: 10;}
      .description{
        text-align: right;
        padding-left: 30px;
        padding-right: 0;
      }
    }
  }
}

.placeholder-wrapper {
    margin: 0 auto;
    padding: 0;
}
.placeholder{
  position: relative;
}
.placeholder img {
  position: absolute;
  max-width: 100%;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}


iframe{
  display: block;
  margin: 0 auto;
}

iframe.main-page {
  margin-bottom: 60px;
}

@media (max-width: 560px) {
  iframe{
    width:100%;
    height:275px;
  }
}

.post-content img{
  display:block;
  margin: 0 auto;
}
