.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  perspective-origin-x:100%; // webkit bug
}
.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transform-origin-x:100%; // webkit bug
}
.parallax-base {
  transform: translateZ(0);
}
[class^='parallax-back'], [class*=' parallax-back'] {
  transform: translateZ(-1px) scale(2);
  z-index:-10;
}

.sprite-d{
  bottom:auto;right:auto;left:auto;top:auto;
  width:100%;
  max-width:600px; // be consistent with `maxSpriteHeight` from addBackgroundSprites.js
  use {fill:#666;}
}

.body-replacement{
  display:flex;
  min-height:100vh;
  flex-direction:column;
}

.site-header{min-height:auto;}
html{overflow:hidden;}

.post{
  background:rgba(253,253,253,0.9);
  box-shadow:0 0 20px 20px rgba(253,253,253,0.9);
  padding-bottom:30px;
}
.facebook .post{
  box-shadow:none;background:none;
}
.page-content{padding-bottom:0;}
