---
layout: default
---

{% assign postsNoArchive = site.posts %}
<ul class="posts-list">
  {% for post in postsNoArchive %}
    {% assign classCategory = '' %}
    {% for cat in post.categories %}
      {% assign classCategory = classCategory | append: ' ' | append: cat %}
    {% endfor %}

    {% assign classTags = '' %}
    {% for tag in post.tags %}
      {% assign classTags = classTags | append: ' ' | append: tag %}
    {% endfor %}


    <li class='post-item item {{ classCategory }} {{ classTags }}'>
      <img class='thumb-img img-circle {{ classTags }}' src='{{ post.head-image | default: '/apple-touch-icon.png' | relative_url }}' alt='{{ post.title }}'>
      <h3>{{ post.title }}</h3>
      <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign m = post.date | date: "%-m" %}
        {{ post.date | date: "%-d" }}
        {% case m %}
          {% when '1' %}Sty
          {% when '2' %}Lut
          {% when '3' %}Mar
          {% when '4' %}Kwi
          {% when '5' %}Maj
          {% when '6' %}Cze
          {% when '7' %}Lip
          {% when '8' %}Sie
          {% when '9' %}Wrz
          {% when '10' %}Paź
          {% when '11' %}Lis
          {% when '12' %}Gru
        {% endcase %}
        {{ post.date | date: "%Y" }}
      </time>
      <p>{{ post.excerpt }}</p>
      <a class='post-item-link item-link' href="{{ post.url | relative_url }}"><span>więcej...</span></a>
    </li>
  {% endfor %}
</ul>
