---
layout: facebook
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
    <div class="fb-page" data-href="https://www.facebook.com/Fundacja-%C5%BBywa-Przestrze%C5%84-124083095656438/" data-tabs="timeline" data-width="500" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Fundacja-%C5%BBywa-Przestrze%C5%84-124083095656438/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Fundacja-%C5%BBywa-Przestrze%C5%84-124083095656438/">Fundacja Żywa Przestrzeń</a></blockquote></div>
  </div>

</article>
